<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Profilo utente</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_content">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="x_panel">
                              <div class="x_content">
                                <%= render 'form', profile: @profile %>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <%= render "partials/price" %>
          <%= render "partials/price0" %>
        </div>
        </div>
      </div>
