<!-- footer content -->
<footer>
  <div class="pull-right">
    My Agency Call! - Chimate a freddo made easy by <a href="https://codetutorial.io">Andrea Terzani</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<div id="custom_notifications" class="custom-notifications dsp_none">
  <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
  </ul>
  <div class="clearfix"></div>
  <div id="notif-group" class="tabbed_notifications"></div>
</div>
