
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-phone"></i> <span>MyAgency Call!</span></a>
      </div>
      <div class="clearfix"></div>


      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a href="/searches"><i class="fa fa-home"></i> Ricerche <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/searches/new">Nuova</a>
                </li>
                <li><a href="/searches">Lista</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-edit"></i> Annunci <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/my_listing/index">Lista Annunci</a>
                </li>
              </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> Interazioni <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/interactions">Lista Interazioni</a>
                </li>

              </ul>
            </li>

          </ul>
        </div>
      </div>
      <!-- /sidebar menu -->

    </div>
  </div>
