
<div class="alert alert-danger landing-alert">
     <div class="container text-center">
         <h5>Per la fase di beta account DEMO senza nessun costo. Se vuoi quello PRO! lo paghi solo 4.99€ mensili.</h5>
    </div>
</div>
<div class="filter-black"></div>

<div class="wrapper">
    <div class="landing-header" style="background-image: url('/images/home.jpg');">
        <div class="container">
            <div class="motto">
                <h1 class="title-uppercase">MyAgency Call!</h1>
                <h3>L' aiuto indispensabile per gli agenti immobiliari di Roma.</h3>
                <br />
                   <a href="/users/sign_up" class="btn"><i class="fa fa-play"></i>Registrati ora!</a>

            </div>
        </div>
    </div>
    <div class="main">
        <div class="section text-center landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Cosa è MyAgencyCall!</h2>
                        <h5>Un nuovo modo efficente di condurre l' acquisizione tramite chiamate a freddo per agenti immobiliari. Sfruttando la tecnologia attuale MyAgencyCall! è in grado di ricercare annunci immbiliari sui magiori portali e presentarli in maniera organizzata all' agente.</h5>
                        <br />
                        <a href="/users/sign_up" class="btn btn-danger btn-fill">Registrati ora!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-light-brown landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 column">
                        <h4>Ricerche sui maggiori portali</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                     </div>
                    <div class="col-md-4 column">
                        <h4>Anagrafica degli annunci</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                     </div>
                    <div class="col-md-4 column">
                        <h4>Traccia delle interazioni</h4>
                        <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                    </div>
                </div>
            </div>
        </div>



<!--        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">Contattaci </h2>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nome</label>
                                    <input class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <label>Messaggio</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button class="btn btn-danger btn-block btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->

<footer class="footer-demo section-dark">
    <div class="container">
        <div class="copyright pull-right">
            &copy; 2017, made with <i class="fa fa-heart heart"></i> by Andrea Terani
        </div>
    </div>
</footer>
