<% title "Nuova Ricerca" %>
<div class="container-fluid" role="main">

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <%= render 'form', search: @search %>
                    </div>
                </div>
            </div>
        </div>
    </div>
