<p>Ciao <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto le istruzioni per il cambio della password. </p>
<p>Seguendo il link di seguioto potrai cambiare la tua password con una nuova.</p>

<p><%= link_to 'Cambia Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai richiesto tu il cambio, ignora questa mail</p>
<p>La tua password non verrà modificata finchè non accederai al link sopra indicato.</p>
